.container {}

body {
  background: url("https://images.unsplash.com/photo-1416169607655-0c2b3ce2e1cc?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1300") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  height: 70px;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

ul.nav a {
  color: #fff !important;
  font-size: 1.3em;
}

ul.nav a:hover {
  color: greenyellow !important;
  font-size: 1.3em;
}

a.navbar-brand {
  font-size: 2.2em;
  color: greenyellow !important;
  line-height: 40px;
}

.navbar ul li a {
  color: white;
  line-height: 40px;
}

.navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
  color: white;
}

.separetor {
  clear: both;
}

.content {
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 20px;
}